# 全般的な設定

## テーマ
## https://ghostty.org/docs/config/reference#theme
theme = xcodedarkhc

## フォントファミリー
## https://ghostty.org/docs/config/reference#font-family
font-family = Osaka

# ---------------------------------------------------------------------------------------

# フルスクリーンの設定

## 背景の透過率
## https://ghostty.org/docs/config/reference#background-opacity
background-opacity = 0.5

## フルスクリーン
## https://ghostty.org/docs/config/reference#fullscreen
fullscreen = true

## MacOSのネイティブフルスクリーンを解除
## https://ghostty.org/docs/config/reference#macos-non-native-fullscreen
macos-non-native-fullscreen = true

## 表示非表示のキーバインド
## https://ghostty.org/docs/config/keybind/reference#toggle_visibility
keybind = global:cmd+shift+1=toggle_visibility
